<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
    <footer>
        <%- include('../partials/footer.ejs') %> 
    </footer>
</body>
</html>